---
import Head from "../components/Head.astro";
import Presentation from "../components/Presentation.astro";
---

<html lang="en">
  <head>
    <Head />
    <title>Astro</title>
  </head>
  <body>
    <Presentation>
      <section
        data-markdown="example.md"
        data-separator="^\n\n\n"
        data-separator-vertical="^\n\n"
        data-separator-notes="^Note:"
        data-charset="iso-8859-15"
      >
      </section>
    </Presentation>
  </body>
</html>
